<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8">
<title>Your Application Works</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
	<link type="application/javascript" href="/webjars/bootstrap/4.1.0/js/bootstrap.min.js" />
	<link type="application/javascript" href="/webjars/jquery/3.4.1/jquery.min.js"/>
	<script type="text/javascript">
       	function ShowndHide() {
		  var x = document.getElementById("form");
		  if (x.style.display === "none") {
		    x.style.display = "block";
		  } else {
		    x.style.display = "none";
		  }
		}  	
       	
       	function dismissAlert(){
       		var x = document.getElementById("alert");
       		x.style.display = "none";
       	}
     </script>
</head>
<body>
	<div class="container mt-2">
	<div id="alert" style="display:none;">
		<div class="alert alert-success alert-dismissible">
		  <center><strong>Inserted Successfully !</strong></center>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="dismissAlert()">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	</div>

	 <h2><center>List Of Products</center></h2>
		<div class="card">
			<div class="card-header">
				<form th:action="@{products}" method="GET">
					<div class="input-group ">
					  <div class="input-group-prepend">
					    <span class="input-group-text">Look for a product</span>
					  </div>
					  <input type="text" class="form-control" name="motCle" th:value="${motCle}">
					  <div class="input-group-append">
					    <button class="btn btn-outline-secondary btn-lg" id="button-addon2">Search</button>
					  </div>
					</div>	
				</form>
				<button type="button" class="btn btn-outline-dark btn-lg btn-block mt-3" 
						onclick="ShowndHide()">Add New Product</button>
				<div class="container mt-3" id="form" style="display:none;" >
				<span id="alertInfo" th:text="${test}"></span>
					<script>
						function displayAlert(){
							var alert = document.getElementById("alertInfo").value;
				       		console.log(alert);
				       		var alert = document.getElementById("alert");
				       		alert.style.display = "block";
						}
					</script>
					
					<form th:object="${prd}" th:action="@{/save}" method="POST">
					<div class="form-group">
						<input type="number" id="inputDesign" style="display:none" value="0" th:field="*{id}">
					    <label for="inputDesign">Désignation</label>
					    <input type="text" class="form-control" id="inputDesign" placeholder="Designation" 
					    	   th:field="*{designation}">
					  </div>
					  <div class="form-row">
					    <div class="form-group col-md-6">
					      <label for="inputPrix">Prix</label>
					      <input type="number" class="form-control" id="inputPrix" 
					      		 placeholder="Prix" th:field="*{prix}">
					    </div>
					    <div class="form-group col-md-6">
					      <label for="inputQte">Quantité</label>
					      <input type="number" class="form-control" id="inputQte" 
					             placeholder="Quantite" th:field="*{quantite}">
					    </div>
					  </div>
					  <button type="submit" class="btn btn-success btn-block" 
					  		  onclick="displayAlert()">Save</button>
					</form>
				</div>
			</div>
			<div class="card-body">
			
				<table class="table table-bordered table-hover">
					<thead class="thead-dark">
						<tr>
							<th style="vertical-align: middle;text-align: center;">ID</th>
							<th style="vertical-align: middle;text-align: center;">Désignation</th>
							<th style="vertical-align: middle;text-align: center;">Prix</th>
							<th style="vertical-align: middle;text-align: center;">Qte</th>
							<th style="vertical-align: middle;text-align: center;">Update / Delete</th>
						</tr>
					</thead>
					
					<tr th:each="p:${pageProducts}">
						<td style="vertical-align: middle;text-align: center;" th:text="${p.id}"></td>
						<td style="vertical-align: middle;text-align: center;" th:text="${p.designation}"></td>
						<td style="vertical-align: middle;text-align: center;" th:text="${p.prix}"></td>
						<td style="vertical-align: middle;text-align: center;" th:text="${p.quantite}"></td>
						<td style="vertical-align: middle;text-align: center;"><a class="btn btn-warning"
								th:href="@{update-form(id=${p.id})}">Update</a>
							<a class="btn btn-danger"
								onclick="javascript:return confirm('Êtes vous sûr ?')"
								th:href="@{delete(id=${p.id},motCle=${motCle},page=${currentPage},size=${size})}">
								Delete</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="card-footer">
				<ul class="pagination mx-auto">
					<li th:each="page, status:${pages}">
						<a 	th:class="${status.index==currentPage}?'btn btn-primary':'btn'"
							th:href="@{products(motCle=${motCle}, page=${status.index}, size=${size})}" 
							th:text="${status.count}"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>